.TaskForm{
    width: 80%;
    color: #fff;
    border-radius: 20px;
    border: 2px solid grey;
    height: 50px;
    outline: none;
    background: transparent;
    font-weight: 300;
    font-size: 2rem;
    -webkit-font-smoothing: antialiased;
    margin: 5px;
}